<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capybara Higher Lower Game</title>
    <link rel="icon" href="https://img.icons8.com/?size=100&id=uePfn5CfEzgC&format=png&color=000000" type="image/x-icon">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Your capybara name is: {{ name.capitalize() }}bara!</h1>
    <div class="flex-container-img">
    <img src='https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExY2F1cnVlcWQ1NWdhczZuOXd6dDdmcDRsbG83aGtzaWptZmNiYTZ2eCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3zvXxwFbOmcARXJA4n/giphy.gif'>
    </div>
</body>
</html>