<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capybara Higher Lower Game</title>
    <link rel="icon" href="https://img.icons8.com/?size=100&id=uePfn5CfEzgC&format=png&color=000000" type="image/x-icon">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Oh no my baby Capybara went missing!</h1>
    <h3>Help mama capybara find her baby by guessing a number between 0 and 9 and entering it at the end of the url (e.g. URL/5)</h3>
    <h2>Please help me find what route my baby is hiding in!</h2>
    <div class="flex-container-img">
    <img src='https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMHVhNGRreXI1dGtlcG1ob25sdmg1cjlkeDA5eDRwbmE4OWhjYzhwcSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/VEta1IY8NgifNfvSVo/giphy.webp'>
    </div>
</body>
</html>