<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capybara Higher Lower Game</title>
    <link rel="icon" href="https://img.icons8.com/?size=100&id=uePfn5CfEzgC&format=png&color=000000" type="image/x-icon">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Too low, try again!</h1>
    <div class="flex-container-img">
    <img src='https://media3.giphy.com/media/jx8fhdx9YHTTXBiZ64/giphy.webp?cid=ecf05e47rdkquwlq2iep2npjdetgl85p9gsfkahk4hrbln82&ep=v1_gifs_search&rid=giphy.webp&ct=g'>
    </div>
</body>
</html>