<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capybara Higher Lower Game</title>
    <link rel="icon" href="https://img.icons8.com/?size=100&id=uePfn5CfEzgC&format=png&color=000000" type="image/x-icon">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>You found me!</h1>
    <div class="flex-container-img">
    <img src='https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExMHVhNGRreXI1dGtlcG1ob25sdmg1cjlkeDA5eDRwbmE4OWhjYzhwcSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/eVReh57TszRLDr8UFf/giphy.webp'>
    </div>
</body>
</html>